.imgItem::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37);
}
.imgItem img {
  height: 600px;
  object-fit: cover;
}
.companies img {
  width: 120px;
}
footer {
  padding: 100px 0px;
}
.social i {
  background-color: rgb(69, 69, 69);
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.courseImg {
  width: 50%;
}
@media (max-width: 767.98px) {
  .courseImg {
    width: 100%;
  }
}
